<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    <div class="container p-5 welcome_container">
      <div class="contianer bg-white p-5 rounded-3 shadow-sm border">

      <h1 class="text-center" style="color: ##0097e6;">Welcome to the Website</h1>
      <h2 class="text-center" style="color: ##0097e6;">You Have Successfully Completed Your OTP Verification</h2>
      <h3 class="text-center" style="color: ##0097e6;">Thank You So Much For Using The Service</h3>
      </div>
    </div>
  </body>
</html>